[Unit]
Description = Docker Engine on user level

[Service]
Type=oneshot
Environment="VAGRANT_CWD=%h/Documents/Projects/dockerengine-on-vagrant"
Environment="DOCKER_PORT=12376"
Environment="VAGRANT_DOCKER_DIR=%h/Documents/Projects"
ExecStart=vagrant up
ExecStop=vagrant halt
RemainAfterExit=yes

[Install]
WantedBy=default.target
